.skills
{
    background-color: #21272F;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    width: 100%;
    padding: 0px 0px 40px 0px;
}

.skills h2
{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    margin: 0;
    padding: 50px 50px;
    width: auto;
}

.slider
{
    height: 100%;
    margin: auto;
    width: 100%;
}

.skills-cards
{
    align-items: center;
    background-color: #171C23;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0px 10px 0px;
    text-align: center;
    transition: all 250ms;
    width: 200px !important;
    height: 125px !important;
    margin: 14px 20px !important;
}

.skills-cards:hover{
    box-shadow: 0px 10px 20px 1px rgba(0,189,149,0.2);
}

.skills-cards:hover svg, .skills-cards:hover p
{
    color: #12AE95;
}

.skills-cards svg
{
    width: 60px;
    height: 60px;
    margin: 12px 0px;
    transition: all 250ms;
}

.skills-cards p
{
    transition: all 250ms;
}

@media (max-width: 620px)
{
   
    .slick-slide div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}


