nav
{
    align-items: center;
    background-color: #21272F;
    color: #FFFF;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    padding: 40px 50px;
}

.nav-top
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.nav-left
{
    align-items: center;
    display: flex; 
    font-size: 20px;
    font-weight: 700;
    justify-content: flex-start;
    gap: 5px;
    user-select: none;
    width: 50%;
}

.nav-left svg
{
    color: #00BD95;
    height: 30px;

    width: 30px;
}

.nav-mid
{
    display: flex;
    flex-direction: row;
    gap: 10vw;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    width: 100%;
}

.nav-mid li a
{
    color: #FFF;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    transition: all 250ms;
}

.nav-mid li a:hover
{
    color: #00BD95;
}

.nav-right svg
{
    display: none;
    justify-content: center;
    align-items: center;
    transition: all 250ms;
}

.nav-right:hover svg
{
    color: #00BD95;
}

.nav-bot
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
}

@media (max-width: 850px)
{
    .nav-top
    {
        justify-content: space-between;
    }
    .nav-right svg 
    {
        display: flex;
    }

    .nav-mid
    {
        display: none;
    }
}



